/* Base Element Styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #555;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

/* Hero Section Styles */
.hero {
    position: relative;
    background: url('../images/hero.png') no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    min-height: calc(100vh - 200px);
    background-color: #121212;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero .summary-container {
    color: #fff;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

.hero .summary-container h2 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.hero .summary-container p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .hero {
        height: calc(100vh - (smaller-header-height + smaller-footer-height));
    }
    .hero .summary-container {
        max-width: 90%;
        margin-top: 15%;
    }
    .hero .summary-container h1 {
        font-size: 1.75rem;
    }
    .hero .summary-container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .hero .summary-container {
        max-width: 95%;
        margin-top: 20%;
    }
}

/* Responsive adjustments for Project Cards */
@media (max-width: 768px) {
    .project-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 90%;
    }
}

