/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* This is a common font, you can change it as needed */
}

/* Style the body */
body {
    color: #555;
    line-height: 1.6;
}

/* Style the header */
.site-header {
    background: #D3D3D3; /* Light gray background */
    color: #fff;
    padding: 1rem 0;
}

.contact-info {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Navigation styles */
.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

}

.site-navigation ul {
    list-style: none;
    display: flex;

}

.site-navigation a {
    color: #0000FF; /* Blue color for 'Home', 'Projects', 'About Me' */
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navigation .brand {
    font-weight: bold;
    font-size: 2rem; /* Larger font size */
    color: #00008B !important; /* Dark blue color, using !important to override other styles */
}

.brand {
    font-weight: bold;
    font-size: 2rem; /* Make the font size larger */
    color: #00008B; /* Dark blue color */
}

/* Hero section */
.hero {
    background: url('../images/hero.png') no-repeat center center/cover;
    height: 80vh; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Social Links */
.social-links {
    margin-left: auto;
}

.social-links a {
    color: #fff;
    margin-left: 5px;
}

.bi-twitter-x {
    fill: #1DA1F2; /* Twitter blue color */
    margin-right: 5px; /* Space between icon and text */
}

.fa-instagram {
    color: #C13584; /* Instagram color */
    margin-right: 5px; /* Space between icon and text */
}
.fa-facebook-square {
    color: #4267B2; /* Facebook blue color */
    margin-right: 5px; /* Space between icon and text */
}
.fa-linkedin {
    color: #0077B5; /* LinkedIn color */
    margin-right: 5px; /* Space between icon and text */
}
.phone-link {
    color: #000000; /* Color of the text */
    text-decoration: none; /* Optional: removes underline */
}

.phone-link .fas {
    margin-right: 5px; /* Space between icon and text */
}
.email-link {
    color: #000000; /* Color of the text */
    text-decoration: none; /* Optional: removes underline */
}

.email-link .fas {
    margin-right: 5px; /* Space between icon and text */
}



/* Add other styles below */
/* ... */
